pkgbase = samong-bin
	pkgdesc = Local-first, Obsidian-compatible knowledge base with full-text search that handles languages written without spaces between words
	pkgver = 0.6.1
	pkgrel = 1
	url = https://samong.dev
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	provides = samong
	conflicts = samong
	options = !strip
	options = !debug
	source = samong-v0.6.1-x86_64-linux.tar.gz::https://github.com/waanvar/samong/releases/download/v0.6.1/samong-v0.6.1-x86_64-linux.tar.gz
	sha256sums = 60ba434d8ebcdd3d7bf244a32db1585725b46f991cd0fa63b7aeaabfbd20eca6

pkgname = samong-bin
