pkgbase = samong-bin
	pkgdesc = Local-first, Obsidian-compatible knowledge base with full-text search that handles languages written without spaces between words
	pkgver = 0.4.0
	pkgrel = 1
	url = https://samong.dev
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = samong
	conflicts = samong
	options = !strip
	options = !debug
	source = samong-v0.4.0-x86_64-linux.tar.gz::https://github.com/waanvar/samong/releases/download/v0.4.0/samong-v0.4.0-x86_64-linux.tar.gz
	sha256sums = 72c78c0bde4ebb9e6baa6f3c55ac1a84db7a8e05d65497822cccee7df5dfba1f

pkgname = samong-bin
