pkgbase = samong-bin
	pkgdesc = Local-first, Obsidian-compatible knowledge base with full-text search that handles languages written without spaces between words
	pkgver = 0.4.1
	pkgrel = 1
	url = https://samong.dev
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	provides = samong
	conflicts = samong
	options = !strip
	options = !debug
	source = samong-v0.4.1-x86_64-linux.tar.gz::https://github.com/waanvar/samong/releases/download/v0.4.1/samong-v0.4.1-x86_64-linux.tar.gz
	sha256sums = 5f4e113f9e585d68b2c66c2ccb51f8b6d052d185397b2ccc3670522fa4ee57f6

pkgname = samong-bin
